* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg,
      rgba(65 , 184 , 131 , 1) 0%,
      rgba(0 , 212 , 255 , 1) 100%);
}

header p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

#container-main {
  padding: 60px 10px;
  border: 2px solid darkgreen;
  width: 60%;
}

#container-add-tarefa {
  box-sizing: border-box;
  background-color: azure;
  padding: 60px 30px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex;
}

#texto-tarefa {
  flex: 3;
  font-size: 1rem;
  border: 2px solid slategray;
  border-radius: 12px;
  font-weight: 500;
}

#texto-tarefa input:focus {
  outline: none;
  border-color: green;
}

#criar-tarefa {
  flex: 1;
  border-radius: 5px;
  font-weight: 500;
  height: 100%;
  font-size: 1rem;
  border: none;
  background-color: aquamarine;
  color: rgb(4, 56, 22);
  padding: 12px;
  margin-left: 12px;
  cursor: pointer;
}

#container-lista {
  background-color: azure;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.completed {
  text-decoration: line-through solid black;
}