/* stylelint-disable function-comma-space-after */
/* stylelint-disable indentation */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg ,
      rgba(65 , 184 , 131 , 1) 0% ,
      rgba(0 , 212 , 255 , 1) 100%);
}

header p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1rem;
}

#container-main {
  text-align: center;
  padding: 20px;
  width: 100%;
}

#container-add-tarefa {
  box-sizing: border-box;
  background-color: azure;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0 , 0 , 0 , 0.3);
  display: flex;
}

#texto-tarefa {
  flex: 3;
  font-size: 1rem;
  border: 2px solid slategray;
  border-radius: 12px;
  padding: 10px;
  font-weight: 500;
}

#texto-tarefa:focus {
  outline: none;
  border-color: green;
}

#criar-tarefa {
  flex: 1;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  background-color: aquamarine;
  color: rgb(4 , 56 , 22);
  padding: 10px 20px;
  margin-left: 12px;
  cursor: pointer;
}

#container-lista {
  background-color: azure;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0 , 0 , 0 , 0.3);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

#apaga-tudo {
  background-color: rgb(25 , 165 , 112);
  color: rgb(16 , 16 , 16);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.remover-tarefa:hover {
  background-color: darkred;
}
